@font-face {
    font-family: 'uifont';
    src: url('./img/fonts/pixelFont-7-8x14-sproutLands.ttf');
}
* {
    font-family: "uifont";
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    user-select: none;
}
body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    align-items: center;
}
header>h1 {
    font-size: 2.5em;
    margin: 0;
    padding: 10px 10px 0;
    text-align: center;
}
nav {
    display: flex;
    margin-left: auto;
    padding: 0 30px;
    justify-items: center;
}
nav>ul {
    display: flex;
    gap: 20px;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li>a {
    color: #000;
    text-decoration: none;
    font-size: 110%;
}

input[type="text"] {
    font-family: Arial, sans-serif;
}
